*.iml
.kotlin
.gradle*
**/build/
xcuserdata
!src/**/build/
androidApp/src/main/aidl
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
shared/src/commonMain/composeResources/files/db.json
shared/src/commonMain/composeResources/files/tmdb_api_key.txt
.env
.env.*
.env.local
androidApp/debug
androidApp/release
*.log
android知识图谱.md
/docs
android_project.jks
android_app_keystore.jks
重构计划方案.md
Android高频面试知识点.md
.aider*
