*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
shared/src/commonMain/composeResources/files/db.json
shared/src/commonMain/composeResources/files/tmdb_api_key.txt
.env
.env.*
.env.local
androidApp/debug
androidApp/release
*.log
Desktop_Migration_Plan.md
Desktop_Home_Layout_重构方案.md
android知识图谱.md
docs/本地代理迁移方案.md
KMP_Desktop_改造方案.md
Desktop_Navigation_Migration_Plan.md
docs/player-architecture-refactoring.md
android_project.jks
重构计划方案.md